/** import CARD only
 * @desc 2020-12-30
 * description...
 */
.m-card {
  width: 270px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
  padding-bottom: 8px;
  // 单行注释不会被编译
  // 利用相同前缀的className，可以配合&-写法进行优化层级语义
  //* m-card-img
  &-img {
    height: 152px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-summary {
    padding: 8px;
    text-align: left;
    font: {
      size: 14px;
      weight: bold;
    }
  }
}
